
/* Your CSS Code here. */
.holder{
	display : grid;
	width : 200px;
	grid-template-columns : 100px 100px;
	grid-template-rows : 100px 100px;
	
}
.item{
	width : 100px;
	height : 100px;
	border : 1px solid;
}